<article class="note">
  <h2 class="note-subject"><%= link_to note.subject_to_show, note %></h2>
  <ul class="note-informations">
    <li class="note-informations-item">Updated at <%= link_to note.updated_at, note %></li>
    <li class="note-informations-item">by <%= link_to '@' + note.user.account, note.user %></li>
    <% if note.user == current_user %>
    <li class="note-informations-item"><%= link_to 'Edit', edit_note_path(note) %></li>
    <% end %>
  </ul>
  <article class="note-body note-syntax-<%= note.syntax_slug %>">
    <% if note.text? %>
      <pre><%= note.body %></pre>
    <% elsif note.sjis_art? %>
      <pre><%= note.body %></pre>
    <% else %>
      <textarea class="note-body-source"><%= note.body %></textarea>
    <% end %>
  </article>
</article>
