<%= form_for(@note, html: { id: 'note-form' }) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body">
    <p>
      <%= f.text_field :subject, class: 'note-form-subject', placeholder: 'Subject (optional)' %>
    </p>
    <p>
      <div class="tabbable tabs-below">
        <div class="tab-content note-form-body-container">
          <%= f.text_area :body, id: 'editor', class: 'note-form-body active' %>
          <div id="viewer" class="note-form-body"></div>
        </div>
        <ul class="nav nav-tabs toggle-body">
          <li class="active"><a href="#editor" data-toggle="tab">Edit</a></li>
          <li><a href="#viewer" data-toggle="tab">Preview</a></li>
        </ul>
      </div>
    </p>
    <fieldset>
      <legend>Status</legend>
      <p>
        Visibility:
        <%= f.radio_button :visibility, Note::VISIBILITY_PUBLIC %>
        <%= f.label "#{:visibility}_#{Note::VISIBILITY_PUBLIC}", 'Public' %>
        <%= f.radio_button :visibility, Note::VISIBILITY_PRIVATE %>
        <%= f.label "#{:visibility}_#{Note::VISIBILITY_PRIVATE}", 'Private' %>
      </p>
      <p>
        Syntax:
        <%= f.radio_button :syntax, Note::SYNTAX_MARKDOWN %>
        <%= f.label "#{:syntax}_#{Note::SYNTAX_MARKDOWN}", 'Markdown Extra' %>
        <%= f.radio_button :syntax, Note::SYNTAX_TEXT %>
        <%= f.label "#{:syntax}_#{Note::SYNTAX_TEXT}", 'Plain text' %>
        <%= f.radio_button :syntax, Note::SYNTAX_SJIS_ART %>
        <%= f.label "#{:syntax}_#{Note::SYNTAX_SJIS_ART}", 'Shift_JIS art' %>
      </p>
    </fieldset>
    <hr />
    <p>
      <%= link_to '&laquo; Back'.html_safe, @note, class: 'btn' %>
      <%= f.submit class: 'btn btn-primary' %>
      <% if @note.id %>
        <%= link_to 'Delete', @note, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger pull-right' %>
      <% end %>
    </p>
  </div>
<% end %>
