<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body">
    <p>
      <%= f.text_field :subject, class: 'span10', placeholder: 'Subject' %>
    </p>
    <p>
      <%= f.text_area :body, class: 'span10',  %>
    </p>
    <p>
      Visibility:
      <%= f.radio_button :visibility, Note::VISIBILITY_PUBLIC %>
      <%= f.label "#{:visibility}_#{Note::VISIBILITY_PUBLIC}", 'Public' %>
      <%= f.radio_button :visibility, Note::VISIBILITY_ANYONE %>
      <%= f.label "#{:visibility}_#{Note::VISIBILITY_ANYONE}", 'Anyone knows URL' %>
      <%= f.radio_button :visibility, Note::VISIBILITY_PRIVATE %>
      <%= f.label "#{:visibility}_#{Note::VISIBILITY_PRIVATE}", 'Private' %>
    </p>
    <p>
      Format:
      <%= f.radio_button :format, Note::FORMAT_MARKDOWN %>
      <%= f.label "#{:format}_#{Note::FORMAT_MARKDOWN}", 'Markdown Extra' %>
      <%= f.radio_button :format, Note::FORMAT_TEXT %>
      <%= f.label "#{:format}_#{Note::FORMAT_TEXT}", 'Plain text' %>
    </p>
    <hr />
    <p>
      <%= link_to '&laquo; Back'.html_safe, @note, class: 'btn' %>
      <%= f.submit class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
