<!DOCTYPE html>
<html>
<head>
  <title>MdNotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "js-markdown-extra" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
