<!DOCTYPE html>
<html>
<head>
  <title>MdNotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="global_header" class="header">
  <h1 id="site_logo"><%= link_to 'MD-Notes', root_path %></h1>
  <div id="global_header-info">
    <% if current_user %>
    <div class="item">
      <div class="subject">@<%= current_user.account %></div>
      <ul class="content">
        <li><%= link_to 'My Page', current_user %></li>
        <li><%= link_to 'Sigh out', signout_path %></li>
      </ul>
    </div>
    <% else %>
    <div class="item">
      <div class="subject">Sign in</div>
      <ul class="content">
        <li><%= link_to 'with Twitter', signin_path('twitter') %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<%= notice %>
<% if current_user %>
<p>
  <%= link_to 'Sign out', signout_path %> |
  <%= link_to 'My Page', current_user %> |
  <%= link_to 'New Note', new_note_path %>
</p>
<% else %>
<p><%= link_to 'Sign in with Twitter...', signin_path(:twitter) %></p>
<% end %>

<%= yield %>

</body>
</html>
