<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)+' | ' unless yield(:title).empty? %>MD-Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="global_header" class="header">
  <h1 id="site_logo"><%= link_to 'MD-Notes', root_path %></h1>
  <div id="global_header-info">
    <% if current_user %>
    <%= global_header_item "@#{current_user.account}", [
      {label: 'My Page', url: current_user},
      {label: 'Sign out', url: signout_path},
    ] %>
    <%= global_header_item 'Notes', [
      {label: 'New note', url: new_note_path}
    ] %>
    <% else %>
    <%= global_header_item 'Sign in', [
      {label: 'with Twitter', url: signin_path(:twitter)}
    ] %>
    <% end %>
    <%= global_header_item 'Help', [
      {label: 'About App', url: about_path},
      {label: 'Author', url: 'https://twitter.com/ginpei_jp'},
    ] %>
  </div>
</div>
<p id="notice"><%= notice %></p>
<%= yield %>
</body>
</html>
